.die1 {
  display: block;
  height: 100px;
  width:  100px;
  border: 2px solid black;
  border-radius: 10px;
  font-size: 50px;
  text-align: center;
  margin-bottom: 1em;
}
 h1.text-center{
  font-family: 'Coiny', cursive;
  color: #FF69B4;
}
jumbotron{
  background-color:  #FFC0CB;
  border-radius: 1em;
  padding:
}
